<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logLayout" value="${longdate} | ${message}"/>
  <variable name="logFile" value="${basedir}/../../../../../Logs/${level}/${shortdate}.log"/>

  <targets>
    <target name="logTrace" xsi:type="File" layout="${logLayout}" fileName="${logFile}" />
    <target name="logDebug" xsi:type="File" layout="${logLayout}" fileName="${logFile}" />
    <target name="logInfo" xsi:type="File" layout="${logLayout}" fileName="${logFile}" />
    <target name="logWarn" xsi:type="File" layout="${logLayout}" fileName="${logFile}" />
    <target name="logError" xsi:type="File" layout="${logLayout}" fileName="${logFile}" />
    <target name="logFatal" xsi:type="File" layout="${logLayout}" fileName="${logFile}" />
  </targets>

  <rules>
    <logger name="*" level="Trace" writeTo="logTrace" />
    <logger name="*" level="Debug" writeTo="logDebug" />
    <logger name="*" level="Info" writeTo="logInfo" />
    <logger name="*" level="Warn" writeTo="logWarn" />
    <logger name="*" level="Error" writeTo="logError" />
    <logger name="*" level="Fatal" writeTo="logFatal" />
  </rules>

</nlog>
