<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logLayout" value="${longdate} ${level} - ${message}"/>
  <variable name="logFile" value="${basedir}/../../../Logs/streetwood.${shortdate}.log"/>

  <targets>
    <target name="allInOne" xsi:type="File" layout="${logLayout}" fileName="${logFile}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="allInOne" />
  </rules>
</nlog>
